[response.json](http://_vscodecontentref_/#%7B%22uri%22%3A%7B%22%24mid%22%3A1%2C%22path%22%3A%22%2Fhome%2Fandi%2FPower2Color%2Fresponse.json%22%2C%22scheme%22%3A%22vscode-remote%22%2C%22authority%22%3A%22ssh-remote%2Bpower2colorpi%22%7D%7D)
.env
