[Unit]
Description=Power2Color LED controller
After=network-online.target bluetooth.target
Wants=network-online.target bluetooth.target

[Service]
Type=simple
WorkingDirectory=__WORKING_DIRECTORY__
ExecStart=__EXEC_START__
Restart=on-failure
RestartSec=5
User=root
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
